.icon-logo {
  font-weight: 800;
  font-size: 1.6rem;
}

.nav-font {
  font-size: 18.5px;
  color: black;
}

.nav-font:hover {
  color: #6610f2;
}

@media screen and (max-width: 768px) {
  .drop-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 72.41px;
    background-color: #fff;
  }
}

@media screen and (min-width: 992px) {
  .center {
    display: flex;
    align-items: center;
  }
}
