.hero-main {
  background-image: url("../../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-item {
  width: 100%;
  text-align: center;
  padding: 1.3rem;
}

.hero-text {
  padding: 2rem;
}

.hero-img {
  width: 90%;
  object-fit: cover;
  margin: 1rem;
}

@media screen and (min-width: 1200px) {
  .hero-item {
    padding: 2.5rem 2rem;
  }

  .hero-img {
    width: 80%;
    margin: 2rem;
  }

  .hero-text {
    padding: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
