.reason-text {
  font-size: 1.45rem;
  font-weight: 500;
  line-height: 2.4rem;
}

@media screen and (max-width: 992px) {
  .reason-text {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
  }
}
