@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-text {
  font-family: "Righteous", cursive !important;
}

.bg-img {
  background-image: url("assets/Background.png");
}

.card {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-color: white;
}

.profile-img {
  height: 115px;
  width: 115px;
  border: gray;
  border-radius: 50%;
}

.purple {
  color: #6610f2;
}

.full-btn {
  cursor: pointer;
}

.full-btn:hover {
  background-color: rebeccapurple;
}

.custom-input {
  width: 22rem;
  max-width: 100%;
  margin: auto;
}

input[type="file"] {
  display: none;
}
